.navbar {
   display: flex; 
   background-color: A8EFD6;
}

.logo {
   width: 100px;
   height: 100px;
}

.galeria {
   display: flex;
justify-content: center;
}

.titulos {
   display: flex;
justify-content: center;
}

.unpocodemi {
   display: flex;
   justify-content: space-between;
   background-color: A8EFD6;
   align-items: center;
   font-size: 25px;
}

.parrafosunpocodemi {
   display: flex;
   width: 70%;
   flex-direction: column;
}

.imagengaleria {
   width: 1000px;
   height: 700px;
   margin-left: 400px;
}

.formulari {
   margin-left: 820px;
}

.dere {
   display: flex;
   justify-content:right
}

.myg {
   align-items: baseline;
}

.glen{
   display: flex;
   margin-left: 370px;
}

.imagen1{
margin-left: 300px;
justify-content: center;
}

.imagen2{
margin-left: 100px;

}

.container {
   position: relative;
}